.error {
	color: red;
	font-weight: bold;
}

.table-stroke thead th {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
.table-stroke tbody th,
.table-stroke tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding-right: 5px;
}

.logo-container {
text-align: center;
margin: .5em 50px .4em;
}

.header-logo {
background-repeat: no-repeat;
background-position: 0 0;
display: inline-block;
width: 300px;
height: 26px;
background: url(/images/hsph-logo-small.png);
}
.header-btn {
	-moz-border-radius: 1em /*{global-radii-blocks}*/;
	-webkit-border-radius: 1em /*{global-radii-blocks}*/;
	border-radius: 1em /*{global-radii-blocks}*/;
}

.footer-text {
text-align: center;
font-size: 10px;
}

#helpdeskLogin{
padding:10px 20px;
}